aws_region      = "eu-west-2"
project_name    = "ecs-cluster"
environment     = "dev"
vpc_cidr        = "10.20.0.0/16"
container_image = "public.ecr.aws/nginx/nginx:stable-alpine"
container_port  = 80
task_cpu        = 256
task_memory     = 512
desired_count   = 2
